@using Scarpe_Co.Entities;
@model IEnumerable<Prodotto>
@{
    ViewData["Title"] = "Product List";
}

<h2>Product List</h2>

@foreach (var product in Model)
{
    <div>
        <img src="@product.Immagine" alt="@product.Nome" style="width:200px;height:200px;" />
        <h3>@product.Nome</h3>
        <p>Price: @product.Prezzo.ToString("C")</p>
        <a asp-action="Details" asp-route-id="@product.Id">View Details</a>
    </div>
}
